<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title><%= title%></title>

</head>
<body>

</body>
</html>
