<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><span style="color: #cd2547; "><%= title %></span></h1>
    <p>Welcome to the real China, here you can explore everything about China...</p>
  </body>
</html>
