<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/javascripts/mapMatch.js"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/D3Map.js"></script>
</head>

<body>

<nav class="navbar navbar-default" style="border: 0">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-head" href="/index">CHINAhop</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/cityView">ABOUT</a></li>
        <li><a href="#">WHEN</a></li>
        <li><a href="#">WHY</a></li>
      </ul>
    </div>
  </div>
</nav>
<p style="text-align: center;"> Explore everything about China here, and hop to any corner you want...</p>
<p style="text-align: center;"> Help you to know the real China!</p>


<script type="text/javascript" charset="utf-8">

  var width = 2000, height = 700;
  //create svg
  var svg = d3.select("body")
          .append("svg")
          .attr("width", width)
          .attr("height", height);

  // create projection
  var projection = d3.geo.mercator().translate([width / 2, height / 2]).center([125, 38]).scale(800);

  var path = d3.geo.path().projection(projection);

</script>
</body>
</html>