<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1><span style="color: #cd2547; "><%= title %></span></h1>
    <p>Welcome to the real China, here you can explore everything about China...</p>
    <p style="text-align: center;"><img src="/images/mapNew.png" usemap="#Map" style="width: 900px;height: 600px;" alt="map"></p>

    <map name="Map">
      <area shape="poly" coords="260,90,150,142,30,200,80,288,255,280,305,240,355,203" title="Xinjiang - Home of Prairie" href="/xinjiang">
      <area shape="poly" coords="57,333,270,436,390,400,345,357,243,300,75,285" title="Tibet - " href="/tibet">
      <area shape="poly" coords="370,423,358,485,430,525,508,495,473,448,440,460,387,420"itle="Yunan - " href="/yunan">
      <area shape="poly" coords="385,350,530,360,498,386,505,425,467,420,460,450,390,410" title="Sichuan - Spicy Land" href="/sichuan">
      <area shape="poly" coords="420,380,420,515,500,510,480,450" title="Yunnan - Minority Home" href="/yunan">
      <area shape="poly" coords="278,251,425,270,457,300,428,350,375,333,365,338,250,310" title="Qinghai - " href="/qinghai">
      <area shape="poly" coords="366,193,309,240,450,280,450,324,505,343,545,300,495,300" title="Gansu" href="/gansu">
      <area shape="poly" coords="515,250,530,275,520,300,500,310,480,278" title="Ningxia" href="/ningxia">
      <area shape="poly" coords="478,443,488,476,568,462,562,427,540,406" title="Guizhou - " href="guizhou">
      <area shape="poly" coords="508,348,514,319,544,314,544,294,525,281,580,250,580,340,560,360" title="Shanxi3" href="/shanxi3">
      <area shape="poly" coords="497,383,504,416,538,406,563,426,553,390,578,377,542,357,515,388" title="Chongqing" href="/chongqing">
      <area shape="poly" coords="382,194,393,230,438,258,475,249,472,276,515,252,519,269,550,273,581,242,628,204,672,191,690,205,750,175,717,136,742,57,679,32,632,103,685,125,484,220" title="innerMongolia" href="/innerMongolia">
      <area shape="poly" coords="690,34,742,50,742,95,729,114,850,145,869,122,870,68,824,90,736,25" title="Heilongjiang" href="/heilongjiang">
      <area shape="poly" coords="722,135,741,132,758,141,804,151,827,158,843,148,860,156,854,171,828,188,796,200," title="Jilin" href="/jilin">
      <area shape="poly" coords="699,200,757,172,790,203,742,243,738,215,716,226" title="Liaoning" href="/liaoning">
      <area shape="poly" coords="647,237,663,218,685,242,679,252,666,238" title="Tianjing" href="/tianjing">
      <area shape="poly" coords="619,216,631,247,622,259,630,274,623,286,653,294,682,258,648,239,662,218,675,218,687,240,708,230,674,192,630,203" title="Hebei" href="/heibei">
      <area shape="poly" coords="585,249,579,315,623,300,628,275,619,260,629,246,622,233" title="Shanxi1" href="/shanxi1">
      <area shape="poly" coords="579,323,593,345,660,365,652,343,671,327,650,308,654,300,629,300" title="Henan" href="/henan">
      <area shape="poly" coords="573,350,580,376,552,393,561,408,588,390,641,402,675,390,663,369," title="Hubei" href="/hubei">
      <area shape="poly" coords="563,408,569,455,594,451,607,475,643,463,637,430,645,410,587,396" title="Hunan" href="/hunan">
      <area shape="poly" coords="488,479,512,479,592,456,610,485,570,526,529,522,500,500,512,493" title="Guangxi" href="/guangxi">
      <area shape="poly" coords="575,525,617,480,656,467,652,481,692,475,705,486,580,540" title="Guangdong" href="/guangdong">
      <area shape="poly" coords="556,565,574,552,596,553,572,579" title="Hainan" href="/hainan">
      <area shape="poly" coords="760,480,785,453,785,480,775,510,758,495" title="Taiwan" href="/taiwan">
      <area shape="poly" coords="684,469,719,417,732,428,755,425,743,456,710,485" title="Fujian" href="/fujian">
      <area shape="poly" coords="710,400,726,380,773,380,773,407,756,425,735,435" title="Zhejiang" href="/zhejiang">
      <area shape="poly" coords="677,314,693,320,715,305,765,347,765,363,742,378,730,378,716,355,725,343," title="Jiangsu" href="/jiangsu">
      <area shape="poly" coords="652,342,679,321,711,345,711,354,731,370,713,390,680,387,671,362" title="Anhui" href="/anhui">
      <area shape="poly" coords="650,290,684,264,700,264,714,277,756,262,716,302,691,315,676,309" title="Shandong" href="/shandong">
    </map>
  </body>
</html>
