<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>img usemap</title>

</head>
<body>

<p style="text-align: center;"><img src="/images/map.png" usemap="#Map" style="width: 1000px;height: 800px;" alt="map"></p>

<map name="Map">
    <area shape="poly" coords="30,253,90,380,300,380,340,320,400,250,290,110" title="Xinjiang - Home of Prairie" href="/xinjiang">
    <area shape="poly" coords="80,380,140,500,290,580,430,520,270,400" title="Tibet - " href="/tibet">>
    <area shape="poly" coords="400,640,470,710,560,660,530,600,490,610,430,550" title="Yunan - " href="/yunan">>
    <area shape="poly" coords="220,90,257,105" title="Sichuan - Spicy Land" href="/sichuan">>
    <area shape="poly" coords="220,90,257,105" title="Sichuan - Spicy Land" href="/sichuan">>
</map>
</body>
</html>
