body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*font {*/
    /*font-family: "Times New Roman", Times, Serif;*/
    /*!*color: #cd2547;*!*/
/*}*/

.xizang {
  background-image: url('../images/xizang.png');
  position: absolute;
  left: 42px;
  top: 788px;
  width: 1633px;
  height: 1355px;
  z-index: 2;
}
